* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}



.header {
    display: flex;
    justify-content: space-between;
    background-color: #0E567D;
    min-height: 5em;
    align-items: center;
    padding: 0em 1em;
    color:white;
}


.form__button {
    color: white;
    background-color: #168BC9;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.form__search {
    border-radius: 0.5em;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    outline: none;
height: auto;
}

@media (max-width:530px){
    .header {
        flex-direction: column;
        padding: 1em;
    }

    .header h1 {
        font-size: 1.8em;
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.section__weather {
    background-color: #168BC9;
    height: 10em;
    width: 10em;
    padding: 1em;
    border-radius: 0.5em;
    color: white;
}
